#myTab .nav-link{
    /* border-radius: 0; */
    /* background-color: #fff; */
    color: #000;
}

#myTab .nav-link:hover{
    background-color: #f1f1f17a;
}

#myTab .nav-link.active{
    color: #fff;    
    
    background-color: #B96624;
}
/* customer view css */

.customer-view-app{
    color:#1b5a90
}
.customer-view-info{
    border: 1px solid #cccccc4d;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b5a9003;
}
.customer-view-info p{
    font-size: 14px;
    
}
.total-visit-box,.up-app,.outstanding-box{
    display: flex;
    width: 80%;
    color: #ebebeb;
    padding: 13px 10px;
    border-radius: 5px;
    /* background-color: #1b5a90; */
}
.total-visit-box img,.up-app img,.outstanding-box img{
    width: 50px;
    height: 50px;
    opacity: 0.8;
    margin-right: 15px;
}
/* .total-visit-box .total-visit-inner,.up-app .up-app-inner,.outstanding-box .outstanding-box-inner{
    margin-right: 10px;
} */
/* .total-visit-box p:first-child,.up-app p:first-child,.outstanding-box p:first-child{
    font-size: 23px;
    margin-bottom: 3px;
    
} */
.total-visit-box p,.up-app p,.outstanding-box p{
    margin-bottom: 0;
    color: #000;
    font-size: 15px;
}
.outstanding-box{
    background-color: #1987541f;
    border: 1px solid #1987541f;
}
.outstanding-box h5{
    color: hsl(152, 75%, 31%);
}
.up-app{
    background-color: #b966241f;
    border: 1px solid  #b966241f
}
.up-app h5{
    color: #b96624;
}
.total-visit-box{
    border-color: 1px solid #1b5a9029;
    background-color: #1b5a9029;
}
.total-visit-box h5{
    color: #1b5a90 !important;
}
.customer-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.cus-info-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.cus-info-right {
    margin-left: auto;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
}
.customer-img {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    margin-right: 20px;
    width: 150px;
}
.customer-img img {
	border-radius: 5px;
}
.cus-department {
    color: #20c0f3;
    font-size: 14px;
    margin-bottom: 8px;
}
.cus-department img {
    width: 19px;
    display: inline-block;
    margin-right: 10px;
}
.cus-location {
    color: #757575;
	font-size: 14px;
    margin-bottom: 25px;
}
.cus-location a {
    color: #09e5ab;
    font-weight: 500;
}
.customer-widget .cus-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
}
.cus-speciality {
    font-size: 14px;
    color: #757575;
    margin-bottom: 15px;
}
.customer-widget .rating i {
	font-size: 14px;
}
.customer-widget .average-rating {
	font-size: 14px;
	font-weight: 500;
}
.clinic-details {
	margin-bottom: 15px;
}
.clinic-details h5 {
    font-weight: normal;
    color: #757575;
    margin-bottom: 25px;
}
.clinic-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.clinic-details ul li {
	display: inline-block;
	padding-right: 5px;
}
.clinic-details ul li:last-child {
	padding-right: 0;
}
.clinic-details ul li a {
	display: inline-block;
}
.clinic-details ul li a img {
	border-radius: 5px;
	width: 40px;
}
.clinic-services {
    color: #272b41;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    font-size: 13px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.clinic-services span {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
}
.clinic-services span + span {
    margin-left: 5px;
}
.clini-infos {
    margin-bottom: 15px;
}
.clini-infos ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.clini-infos ul li {
    display: block;
    line-height: 30px;
    color: #4E4852;
}
.clini-infos ul li i {
    font-size: 15px;
    min-width: 30px;
}
.clinic-booking a + a {
	margin-top: 15px;
}
.clinic-booking a {
    background-color: #fff;
    border: 2px solid #20c0f3;
    border-radius: 4px;
    color: #20c0f3;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.clinic-booking a.view-pro-btn:hover, .clinic-booking a.view-pro-btn:focus {
	background: #20c0f3; 
	color: #fff;
}
.clinic-booking a.apt-btn {
    background-color: #20c0f3;
    color: #fff;
}
.clinic-booking a.apt-btn:hover, .clinic-booking a.apt-btn:focus {
	background-color: #0db9f2;
	border-color: #0db9f2;
	color: #fff;
}
.load-more {
	margin-bottom: 30px;
}
#lightgallery img{
    margin: 2px;
    width: 200px;
    height: 230px;
}

/* <------> */
.search-con{
    width: 30%;
    margin-left: auto;
}
/* chat Area */
